body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 100%px;
  height: 100vh;
  margin: 0 auto;
  background-color: #141C24;
  ;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: Aire Exterior;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  color: white;

}

.form-group {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

}

.form-group label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}


.form-group input[type="email"],
.form-group input[type="password"] {
  height: 75px;
  width: 390px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.form-group input[type="submit"] {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.button_reg {
  background-color: white;
  border: none;
  width: 251px;
  height: 61px;
}

.button_href {
  font-family: Aire Exterior;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  color: black;
}

.span {
  
  padding-left: 30px;
  
}
.span_href{
  text-decoration: none;
color: #FFFFFF80;
}
.span2 {
  padding-right: 30px;
}

#checkbox {
  width: 24px;
  height: 24px;


}

.parent_input {
  display: flex;
  justify-content: center;
  padding-right: 9px;

  padding-top: -80px;
}

.politika_konfi {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 200;
  line-height: 14px;
  letter-spacing: 0em;
  color: #FFFFFF80;
  width: 382px;
  height: 112px;


}

.hr1 {
  width: 367.00000000000044px;

}

.hr2 {
  width: 367.00000000000044px;

}

.voiti_cherez {
  text-align: center;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 200;
  line-height: 14px;
  color: #FFFFFF80;

}
.imgcontainer{
 display: flex;
 justify-content: center;
}